<%- include("partials/header") -%>
<h1>compose</h1>
<form action="/posts" method="post">
  <div class="form-group">
    <label for="as">title </label>
    <input id="as" type="text" class="form-control" name="postName" />
  </div>
  <div class="form-group">
    <label for="ps">post </label>
    <textarea
      id="ps"
      name="postDesc"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
  </div>

  <button class="btn btn-primary" type="submit">publish</button>
</form>
<%- include("partials/footer") -%>
